.sidebar {
  background-color: var(--main-color);
  color: gray;
  width: 15% !important;
}
.logo {
  color: var(--whit-color);
}

.icon,
.linkTitle {
  font-size: 1rem;
}
.navItem {
  cursor: pointer;
  transition: background 1s;
  text-decoration: none;
  color: gray !important;
}

.navItem:hover {
  background-color: var(--second-color);
  border-left: 2px solid var(--second-color);
}
