.sidebar {
  background-color: var(--main-color);
  color: white;
}

.icon,
.linkTitle {
  font-size: 1rem;
}
.navItem {
  cursor: pointer;
  transition: background 1s;
  text-decoration: none;
  color: white;
}

.navItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
