NODE_ENV=development
PORT=8000
MONGO_URI="mongodb://localhost:27017/bunyan-v2"
SALT_ROUNDS=10
EMAIL_ADMIN="superadmin@gmail.com"

DEFAULT_SIGNATURE='this is the default segnature'
EXPIERSIN=7d
JWT_COOKIE_EXPIRE_IN=7d
