.backlogin {
  transition: all 0.3s ease;
}

.arrowicon {
  transition: transform 0.3s ease;
}

.backlogin:hover .arrowicon {
  transform: translateX(-6px);
}

.divider {
  width: 100%;
  height: 1px;
  background: #ececf1;
  margin: 28px 0;
}

.Links a {
  text-decoration: none;
  color: var(--second-color);
}

.Links a:hover {
  border-bottom: 1px solid var(--second-color);
}
