.cardStatus {
  background-color: #e6f1fb;
  border-radius: 20px;
  padding: 22px;
  min-height: 160px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.cardStatus:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.Icon svg {
  color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem !important;
}

.Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counter {
  font-size: 2.2rem;
  font-weight: 700;
}

.title {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #6b7280;
}
